body {
	text-align: center;
}

.title {
	font-size: 40px;

}

.description {
	font-size: 16px;
}

.mopemope {
	font-size: 25px;
}

.generate-button {
	min-width: 100px;
    display: inline-block;
    background: #aaaaaa; /* 背景色 */
    color: #fff; /* 文字色 */
    padding: 12px 20px; /* 上下の余白、左右の余白 */
    text-decoration: none; /* デフォルトで入るリンクの下線を消す */
    border-radius: 5px; /* 角を丸くする */
	border: none;
}

.generate-tweet {
	min-width: 100px;
    display: inline-block;
    background: #1a8cd8; /* 背景色 */
    color: #fff; /* 文字色 */
    padding: 12px 20px; /* 上下の余白、左右の余白 */
    text-decoration: none; /* デフォルトで入るリンクの下線を消す */
    border-radius: 5px; /* 角を丸くする */
	border: none;
}
